/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sessão Menu*/

section.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: 590;
    padding: 2% 6%;
}

.menu a {
    color: #464646;
}

.menu a:hover {
    color: var(--cor-destaque);
}

.menu header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu__title, .menu__list__item__contato {
    font-weight: 700;
    color: #464646;
}

.menu nav { 
    display: flex;
    gap: 24px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 24px; 
}

.menu__list__item {
    display: none; 
}

.menu__list__item__contato a > i {
    margin-right: 7px; 
}


/*Sessão Title*/

section.title{
    padding: 4% 6%;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.title__profile {
    width: 368px; 
    border-radius: 50%;
}

.title__container {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title__bio {
    font-size: 52px;
    font-weight: 700;
    color: var(--cor-de-texto);
    font-family: var(--font-raleway);
}

.title__bio__destaque {
    color: var(--cor-destaque);
}

.title__subsection {
    font-size: 22px;
    color: var(--cor-de-texto);
    font-weight: 400;
}

.title__network {
    display: flex;
    gap: 22px;
}

.title__network__item a {
    font-size: 16px;
    color: var(--cor-de-texto);
    text-align: center;
    transition: background-color 0.3s ease;

}

.title__network__item :hover {
    color: var(--cor-destaque);
    font-size: 18px;
}


/*Sessão About*/

section.about{
    padding: 0 6%;
    
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__title {
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: 600;
    color: var(--cor-destaque);
}

.about__paragraph {
    font-size: 16px;
    color: var(--cor-de-texto);
    width: 751px;
}


.about__signature {
    width: 140px;
}
/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{

}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */
    .menu__list__item {
        display: block;
    }


/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/



/*Skills*/

/*Hobbies*/

/*Formação Acadêmica*/

/*Experiência Profissional*/

/*Contato*/

/*Footer*/

}
