@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/

  /* COR */
  --cor-de-fundo: #F5F5F5;
  --cor-de-link: #000;
  --cor-de-texto: #464646;
  --cor-destaque: rgb(231, 125, 5);
  --cor-fundo-realce: #eaf8bb;

  /* FONT */
  --font-raleway: "Raleway", sans-serif;
}